<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	
	<!-- navbar -->

    <%- include('header'); %>

	<div class="col-12 offset-lg-1 col-lg-10 offset-lg-1">
		
		<h3 class="titleTicket offset-lg-3">My tickets:</h3>

		<table class="table table-borderless">
			<thead>
			  <tr class="table-light">
				<th scope="col">N°</th>
				<th scope="col">Journey</th>
				<th scope="col">Date</th>
				<th scope="col">Departure time</th>
				<th scope="col">Price</th>
			  </tr>
			</thead>
			<tbody>
			
			  <tr class="table-light">
				<th scope="row"><%=i+1%></th>
				<td>départ/arrivée</td>
				<td>date</td>
				<td>departure time pm</td>
				<td>price €</td>
			  </tr>
		
			  <tr class="table-danger">
				<th scope="row">Total</th>
				<td></td>
				<td></td>
				<td></td>
				<td>total €</td>
			  </tr>
			</tbody>
		  </table>
		  <!-- Button trigger modal -->
		  <div class="d-flex justify-content-end">
			<a href="/home" class="btn btn-danger">Home</a>

			</button>
		</div>
	</div>





<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>