<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

    <!-- navbar -->

    <div class="container">

    <div class="row">

        <div class="col-12 col-sm-3 offset-4 text-center">

            <h4 class="titleForm">Sign In</h4>

            <form action="/sign-up" method="POST">
                <div class="form-group">
                    <label for="exampleInputEmail1"></label>
                    <input name="emailFromFront" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1"></label>
                    <input name="passwordFromFront" type="password" class="form-control" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-danger">Confirm</button>

            </form>

        </div>

        <div class="col-12 col-sm-3 text-center">
            <h4 class="titleForm">Sign Up</h4>

            <form action="/sign-up" method="POST">
                <div class="form-group">
                    <label for="exampleInputUsername"></label>
                    <input name="usernameFromFront" type="text" class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername"></label>
                    <input name="usernameFromFront" type="text" class="form-control" placeholder="Firstname">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1"></label>
                    <input name="emailFromFront" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1"></label>
                    <input name="passwordFromFront" type="password" class="form-control"  placeholder="Password">
                </div>

                <button type="submit" class="btn btn-danger">Confirm</button>
            </form>
        </div>

    </div>

    </div>

</body>
</html>